@font-face {
	font-family: 'Conv_nevis';
	src: url('../fonts/nevis/nevis.eot');
	src: local('☺'), url('../fonts/nevis/nevis.woff') format('woff'), url('../fonts/nevis/nevis.ttf') format('truetype'), url('../fonts/nevis/nevis.svg') format('svg');
	font-weight: normal;
	font-style: normal; }

@font-face {
	font-family: 'Source Sans';
	src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf');
	font-weight: normal;
	font-style: normal; }

@font-face {
	font-family: 'Source Sans Bold';
	src: url('../fonts/source-sans-pro/SourceSansPro-Bold.otf');
	font-weight: bold;
	font-style: normal; }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-weight: 200; }

::selection {
	background: #FF4500;
	color: white; }

::-moz-selection {
	background: #FF4500; }

::-webkit-selection {
	background: #FF4500; }

html, body {
	height: 100%; }

body {
	padding-top: 100px; }

body {
	background: url(../img/green-concert.jpg) no-repeat top center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; }

a {
	text-decoration: none;
	color: orangered; }

h1, h2 {
	margin-bottom: 30px; }

h2 {
	color: #777; }

h3 { 
	font-family: 'Source Sans Bold', sans serif;
	font-size: 32px; }

h3.center {
	text-align: center; }

h2.orangered {
	background: #FF4500;
	padding: 10px;
	color: white;
	display: inline-block; }

h2.lightblue {
	background: #19A8E0;
	padding: 10px;
	color: white;
	display: inline-block; }

h2 small {
	background: white;
	color: orangered;
	padding: 7px;
	font-size: 16px; }

section {
	background: transparent;
	display: block;
	width: 100%;
	min-height: 50px;
	padding: 120px 0 50px;
	color: white;
	font-family: 'Source Sans', sans serif; }

section.white {
	background: white;
	color: #444; }

section .container {
	width: 900px;
	margin: 0 auto; }

section .container .cols {
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */ 
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21+ */
	display: flex; }

section .container .col {
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;
	flex: 1;
	display: block; }

section .container .col:first-child {
	margin-right: 50px; }

section .container:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden; }

section .container p {
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 16px;
	text-align: justify; }

section .container div.left {
	float: left; }

section .container div.right {
	float: right;
	float: right;
	width: 45%; }

section .container h2 {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	font-family: 'Conv_nevis';
	text-transform: uppercase; }

.slide {
	text-align: center;
	display: block;
	width: 100%;
	height: 350px;
	overflow: hidden; }

.center {
	text-align: center; }

/** Header **/
section.header {
	background: url(../img/dark-shadow.png);
	height: 100px;
	color: white; 
	padding: 0 20px;
	position: fixed;
	top: 0;
	z-index: 10; }

h1.logo {
	max-width: 200px;
	float: left;
	margin: 0; }

h1.logo img {
	max-height: 70px;
	margin-top: 15px; }

.nav {
	font-family: 'Conv_nevis';
	margin-top: 33px;
	list-style: none;
	float: right;
	text-transform: uppercase; }

.nav li {
	display: inline-block; }

.nav li a {
	padding: 10px;
	display: block;
	cursor: pointer;
	color: white;
	font-size: 16px; }

.nav li a:hover {
	background: orangered; }


/** Intro **/
section.intro {
	background: transparent;
	height: 100%;
	padding: 30px 0; }

.callout {
	color: white;
	font-size: 52px;
	margin: 30px 0;
	font-weight: bolder; }

.countdown {
	bottom: 0;
	position: absolute;
	width: 100%;
	padding: 10px 0 50px;
	color: white; }

.countdown .message {
	display: block;
	text-align: center;
	width: 100%;
	font-size: 30px;
	margin-bottom: 15px; }

.countdown .timer {
	text-align: center;
	list-style: none; }

.countdown .timer li {
	width: 80px;
	text-align: center;
	display: inline-block;
	padding: 20px 0;
	background: orangered;
	margin: 0 15px;
	color: white;
	border-radius: 5px; }

.countdown .timer span.time {
	font-weight: bold;
	font-size: 40px;
	line-height: 40px; }

.countdown .timer span {
	width: 100%;
	display: block; }

/** body **/
#scholarships {
	background: url(../img/darker-shadow.png);
	color: yellow;
	border-top: 1px solid orangered;
	border-bottom: 1px solid yellow; }

#scholarships h2 {
	color: yellow; }


#theplatform {
	background: url(../img/cream_pixels.png); }

#auditions {
	background: url(../img/orange-shadow.png); }

#faqs {
	background: url(../img/darker-shadow.png); }

#footer {
	padding: 20px 0;
	background: #19A8E0;
	color: white; }

@media (max-width: 480px) {

	.nav {
		display: none; }

	h2 {
		text-align: left; }

	section.intro {
		height: auto; }

	.countdown {
		background: orangered;
		position: relative; }

	.countdown .timer {
		background: url(../img/dark-shadow.png);
		padding: 10px 0; }

	.countdown .message {
		font-size: 22px; }

	.countdown .timer li {
		background: transparent;
		margin: 0 10px;
		padding: 0;
		width: inherit; }

	.callout {
		font-size: 28px; }

	section .container {
		width: 100%;
		padding: 0 15px; }

	section .container .cols { 
		display: block; }

	section .container .col {
		margin-bottom: 40px; }

	section .container .col:first-child {
		margin-right: 0; }

	section .container .col:last-child {
		margin-bottom: 0; }

	section .container p {
		text-align: left; }

	iframe {
		width: 100%; }
}
