@font-face {
	font-family: 'Conv_nevis';
	src: url('../fonts/nevis/nevis.eot');
	src: local('☺'), url('../fonts/nevis/nevis.woff') format('woff'), url('../fonts/nevis/nevis.ttf') format('truetype'), url('../fonts/nevis/nevis.svg') format('svg');
	font-weight: normal;
	font-style: normal; }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-weight: 200; }

::selection {
	background: #FF4500;
	color: white; }

::-moz-selection {
	background: #FF4500; }

::-webkit-selection {
	background: #FF4500; }

html, body {
	height: 100%; }

body {
	padding-top: 100px; }

body {
	background: url(../img/green-concert.jpg) no-repeat top center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; }

a {
	text-decoration: none; }

h1, h2 {
	margin-bottom: 60px; }

h2 {
	color: #777; }

h2.orangered {
	background: #FF4500;
	padding: 3px 7px;
	color: white;
	display: inline-block;
}

section {
	background: white;
	display: block;
	width: 100%;
	min-height: 50px;
	font-family: Helvetica Neue, Arial, Sans Serif;
	padding: 50px 0; }

section .container {
	width: 900px;
	margin: 0 auto; }

section .container:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden; }

section .container p {
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 16px;
	text-align: justify;
	color: #444; }

section .container div.left {
	float: left; }

section .container div.right {
	float: right;
	float: right;
	width: 45%; }

section .container h2 {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	font-family: 'Conv_nevis';
	text-transform: uppercase; }

.slide {
	text-align: center;
	display: block;
	width: 100%; }

/** Header **/
section.header {
	background: transparent;
	height: 100px;
	color: white; 
	padding: 0 20px;
	position: fixed;
	top: 0;
	z-index: 10;
	border-top: 10px solid #ddd; }

h1.logo {
	max-width: 200px;
	float: left;
	margin: 0; }

h1.logo img {
	max-height: 70px;
	margin-top: 15px; }

.nav {
	font-family: 'Conv_nevis';
	margin-top: 33px;
	list-style: none;
	float: right;
	text-transform: uppercase; }

.nav li {
	display: inline-block; }

.nav li a {
	padding: 10px;
	display: block;
	cursor: pointer;
	color: white;
	font-size: 16px; }

.nav li a:hover {
	background: orangered; }


/** Intro **/
section.intro {
	background: transparent;
	height: 100%;
	padding: 30px 0; }

.callout {
	color: white;
	font-size: 52px;
	margin: 30px 0;
	font-weight: bolder;
}

.countdown {
	bottom: 0;
	position: absolute;
	width: 100%;
	padding: 10px 0 50px;
	color: white; }

.countdown .message {
	display: block;
	text-align: center;
	width: 100%;
	font-size: 30px;
	margin-bottom: 15px; }

.countdown .timer {
	text-align: center;
	list-style: none; }

.countdown .timer li {
	width: 80px;
	text-align: center;
	display: inline-block;
	padding: 20px 0;
	background: orangered;
	margin: 0 15px;
	color: white;
	border-radius: 5px; }

.countdown .timer span.time {
	font-weight: bold;
	font-size: 40px;
	line-height: 40px; }

.countdown .timer span {
	width: 100%;
	display: block; }

/** body **/
#theplatform, #schedule {
	min-height: 450px;
}

#auditions, #faqs {
	background: transparent;
	height: 400px;
}

#footer {
	background: #19A8E0;
	color: white; }
